@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/
body {
    background-color: rgb(179, 228, 106);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(51, 65, 29);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(48, 78, 3);
}

.basico {
    color: green;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}

.destaque{
    background-color: rgba(95, 95, 18, 0.644);
}