@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #02735E, #038C3E);
}

main {
    background-color: rgba(255, 255, 255, 0.596);
    width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #013530af;
    padding: 10px;
    margin: auto;
}

p {
    text-align: justify;
}

h1 {
    color: #0CF25D;
    text-align: center;
    text-shadow: 1px 1px 2px #013a34bd;
}

h2 {
    color: #034159;
}